= form_for [user, trip, destination] do |f|

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :destination
    = f.text_field :destination
  .actions
    = f.submit 'Save'
