<div id="static-landing"> 
  <div class="small-12 medium-12 large-12 columns home-space">
  </div>
  <%= image_tag('http://res.cloudinary.com/dljyjkavz/image/upload/v1390496778/barrel_blue_white_back_xwt53t.png', :class => "homepage-logo-big") %> 
  <div class="small-12 medium-6 large-4 columns small-centered">
    <span id="home-info">
      <h4 class="title">For those who have an undying urge to to explore the world.</h4>
      <h3 >Tourists need not apply.</h3>
      <h6>Interact with like-minded travelers, share your adventures and learn about unique experiences throughout the world. </h6>
    </span>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>

      <div><%= f.submit "Sign up" %></div>
     <% end %>
  </div>
</div>
<div class="homepage-footer">
  <center><p>&copy2014</p></center>
</div>

