%h1 Destination Wish List
%br
.gridler
  .row
    %ul.small-block-grid-1.medium-block-grid-4.large-block-grid-5
      - @stars.reverse_each do |star|
        %li.destination-grid
          = button_to 'Remove', star_path(star.id), method: :delete, data: { confirm: 'Are you sure?' }
          %h5= link_to star.destination.user.name, user_path(star.destination.user_id)
          %h5= "#{star.destination.city}, #{star.destination.country}"
          %span.medium= image_tag star.destination.album_url(:medium)
          %p
            = star.destination.snippet
            - if star.destination.posts.first
              %p
                Activity: #{star.destination.posts.first.thing}
              %p= star.destination.posts.first.description
            - else
              %no{:content => ""}
            = link_to 'Read More', user_destination_path(star.user_id, star.destination)
