.hero-wrapper.small-12.medium-12.large-12.columns
  .row
    %h3 My Destination Wish List
    #map
    .pins 

.row
  %h3 Future Destinations
.cards-bg
  #wrapper
    #columns
      - @stars.reverse_each do |star|
        .pin{:data => {:url => user_destination_path(star.user_id, star.destination) } }
          %h5= link_to star.destination.user.name, user_path(star.destination.user_id)
          %h5= "#{star.destination.city}, #{star.destination.country}"
          %span.medium= image_tag star.destination.album_url(:medium)
          %p= star.destination.snippet
          - if star.destination.posts.first
            %h6= "Activity: #{star.destination.posts.first.thing}"
            %p= star.destination.posts.first.description
          - else
            %no{:content => ""}
          = link_to 'Read More', user_destination_path(star.user_id, star.destination)
          %br= link_to 'Remove', star_path(star.id), method: :delete, data: { confirm: 'Are you sure?' }

- content_for :javascript do
  %script{src: "https://maps.googleapis.com/maps/api/js?key=#{ENV["MAPS_API_KEY"]}&sensor=false", type: "text/javascript"}
  
  :javascript
    (function () {
    function initialize() {
    var mapOptions = {
    center: new google.maps.LatLng(30.0000, 10.0000),
    zoom: 2,
    scrollwheel: false
    };
    var map = new google.maps.Map(document.getElementById("map"), mapOptions);

    var latlng = #{raw @lat_lngs.to_json};
    for(var i = 0; i < latlng.length; i++) {
    var coord = latlng[i];

    var myLatlng = new google.maps.LatLng(coord['lat'], coord['lng']);

    var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    animation: google.maps.Animation.DROP,
    draggable: false,
    icon: "http://maps.google.com/mapfiles/kml/pal4/icon47.png"
    });
    }
    };
    google.maps.event.addDomListener(window, 'load', initialize);

    var pins = $('.pin');
    pins.each(function(){
      $(this).click(function(){
        var url = $(this).data('url');
      window.location.href = url;
      });
    });
    })();
