<h3><%= "#{@user.name}'s #{@user.inverse_friends.length} Followers" %></h3>

<div id="wrapper">
  <div id="columns">
    <% @user.inverse_friends.each do |f| %>
      <div class="pin">
        <h5><%= link_to "#{f.name}", f %></h5>
        <span class="medium"><%= image_tag f.profile_pic_url(:medium) %></span>
        <h6><%= "#{f.location}" %></h6>
        <p><%= f.bio %></p>
      </div>
    <% end %>
  </div>
</div>
