<h3><%= "#{@user.name}'s #{@user.inverse_friends.length} Followers" %></h3>
<div class="cards-bg-users">
  <div id="wrapper">
    <div id="columns">
      <% @user.inverse_friends.each do |f| %>
        <div class="pin" data-url="/users/<%= f.id %>">
          <h5><%= f.name %></h5>
          <span class="medium"><%= image_tag f.profile_pic_url(:medium) %></span>
          <h6><%= "#{f.location}" %></h6>
          <p><%= f.bio %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script>
    (function () {
      var pins = $('.pin');
      pins.each(function(){
        $(this).click(function(){
          var url = $(this).data('url');
        window.location.href = url;
        });
      });
    })();
  </script>
<% end %>