<h5 class="search">Search for Users</h5>
  <%= form_tag users_path, :method => 'get' do %>
    <div class="search-field"><%= text_field_tag :search, params[:search], placeholder: "Enter A Name" %></div>
    <%= submit_tag "Search", :name => nil, :class => "search" %>
  <% end %>

<h1>Fellow Travelers</h1>

<div id="wrapper">
  <div id="columns">
    <% @users.each do |user| %>
      <div class="pin">
        <%= image_tag user.profile_pic %>
        <h5><%= link_to "#{user.name}", user_path(user.id) %></h5>
        <h6><%= user.location %></h6>
        <p><%= user.bio %></p>
        <% if current_user != nil %>
        <% end %>
          <% if current_user.friendships.find_by_friend_id(user.id) %>
          <p>Already Following</p>
          <% elsif user.id != current_user.id %>
          <p><%= link_to 'Follow', friendships_path(:friend_id => user), :method => :post %></p>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
