<% title "User List" %>

<div id="users">
<% for user in @users %>
  <div class="user">
    <p>
      <strong><%= user.username %></strong>
      <%= link_to "Add Friend", friendship_path(:friend_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>
</div> 

<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Location</th>
      <th>Profile pic</th>
      <th>Bio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= user.location %></td>
        <td><img src="<%=  destination.album %>">
        <td><%= user.bio %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
