<div class="user small-12 medium-10 large-6 columns">
  <h2><%= @user.name %></h2>
  
  <img src="<%= @user.profile_pic.url(:large) %>">
  <%= image_tag "map.png" %>
  
  <h5>Home Base: <%= @user.location %></h5>
  
  <h4>About</h4>
    <p><%= @user.bio %></p>
  
<% if @user == current_user %>
  <%= link_to 'Edit Profile', edit_user_path(@user) %><br />

</div>
<div class="destination small-12 medium-10 large-6 columns">
  <%= link_to 'Add Destination', new_user_destination_path(@user) %>
<% end %>

  <ul class="dest-grid small-block-grid-1 medium-block-grid-3 large-block-grid-3">
    <% @user.destinations.each do |dest| %>  
      <li>
        <h5><%= "#{dest.city}, #{dest.country}" %></h5>
        <img src="<%= dest.album.url(:large) %>">
        <p><%= dest.snippet %>
        <%= link_to 'Read More', user_destination_path(@user.id, dest) %></p>
      </li>
    <% end %>
  </ul>
  
</div>




