<div class="hero-wrapper small-12 medium-12 large-12 columns">
  <div class="row">
  <h3>My Destinations</h3>
    <div id="map"></div>
    <div class="pins"><%= image_tag "map-pin-red.svg" %> Places I've Been | <%= image_tag "blue-map-pin.svg" %> Places To Go To </div>
  </div>
</div>

<div class="row">
  <div class="user small-12 medium-5 large-5 columns">
    <div class="thumb profile_pic">
    <%= image_tag @user.profile_pic_url(:thumb) %>
    </div>
    <h4><%= @user.name %></h4>
    <h5>Home Base: <%= @user.location %></h5>
  </div>
  <div class="user small-12 medium-6 large-5 columns">
    <h5>About</h5>
      <p><%= @user.bio %></p>
      <div class="user small-12 medium-6 large-5 columns">
        <h5><%= link_to 'Following', users_path %></h5>
          <% @user.friendships.each do |f| %>
            <% if @user.friendships.length != 0 %>  
              <%= link_to "#{f.friend.name}", f %>
                <% if @user == current_user %>|
                <%= link_to 'Stop Following', f, :method => :delete %>
                <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="user small-12 medium-6 large-5 columns">
          <h5>Followers</h5>
          <% @user.inverse_friends.each do |inverse_friend| %>
            <% if @user.inverse_friends.length != 0 %>
              <%= link_to "#{inverse_friend.name}", inverse_friend %>
            <% end %>
          <% end  %>
      </div>
  </div>

</div>

<div class="gridler">
  <div class="row">
    <ul class="small-block-grid-1 medium-block-grid-4 large-block-grid-5">
      <% @user.destinations.reverse_each do |dest| %>
        <li class="destination-grid">
          <h5><%= "#{dest.city}, #{dest.country}" %></h5>
          <span class="medium"><%= image_tag dest.album_url(:medium) %></span>
          <p><%= dest.snippet %>
          <% if dest.posts.first %>
          <p>Activity: <%= dest.posts.first.activity %></p>
            <p><%= dest.posts.first.description %></p>
          <% else %>
            <no content>
          <% end %>
          <%= link_to 'Read More', user_destination_path(@user.id, dest) %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["MAPS_API_KEY"] %>&amp;sensor=false">
  </script>
  <script>
    (function () {
      function initialize() {
        var mapOptions = {
        center: new google.maps.LatLng(30.0000, 40.0000),
        zoom: 2
        };
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

        var latlng = <%= raw @lat_lngs.to_json %>;
        for(var i = 0; i < latlng.length; i++) {
          var coord = latlng[i];

          var myLatlng = new google.maps.LatLng(coord['lat'], coord['lng']);

          var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            animation: google.maps.Animation.DROP,
            draggable: false
          });
        }
      };
      google.maps.event.addDomListener(window, 'load', initialize);
    })();
  </script>
<% end %>






