<div class="cards-bg">
  <div class="row">
    <div class="user small-12 medium-4 large-5 columns">
      <h5><%= @user.name %></h5>
      <h5>Home Base: <%= @user.location %></h5>
      <div class="thumb profile_pic">
      <%= image_tag @user.profile_pic_url(:thumb) %>
      </div>
      <h6><%= link_to 'Followers', followers_list_path %>: <%= @user.inverse_friends.length %> | <%= link_to 'Following', activities_path %>: <%= @user.friendships.length %></h6>
      <h5>About</h5>
        <p><%= @user.bio %></p>
      <% if @user == current_user %>
        <ul class="side-nav">
        <li><%= button_to 'Edit Profile', edit_user_path(current_user), :method => 'get' %></li>
        <li><%= button_to 'Add Destination', new_user_destination_path(current_user), :method => 'get' %></li>
        <li><%= button_to 'My Starred Destinations', stars_path(current_user), :method => 'get' %></li>
        </ul>
      <% end %>
    </div>
    <div class="small-12 medium-8 large-7 columns">
      <h3 class="map-title">My Destinations</h3>
        <div id="map"></div>
        <div class="pins"><%= image_tag "map-pin-red.svg" %> Places I've Been</div>
    </div>
  </div>
  <div id="wrapper">
    <div id="columns">
      <% @user.destinations.each do |dest| %>
        <div class="pin" id="destination-<%= dest.id%>" data-url= "<%= user_destination_path(@user.id, dest) %>">
          <h5><%= "#{dest.city}, #{dest.country}" %></h5>
          <span class="medium"><%= image_tag dest.album_url(:medium) %></span>
          <p><%= dest.snippet %></p>
          <% if dest.posts.first %>
          <h6>Activity: <%= dest.posts.first.thing %></h6>
            <p><%= dest.posts.first.description %></p>
          <% else %>
            <no content>
          <% end %>
          <p><%= link_to 'Read More', user_destination_path(@user.id, dest) %></p>
          </div>
        <% end %>
    </div>
  </div>
</div>


<% content_for :javascript do %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["MAPS_API_KEY"] %>&amp;sensor=false">
  </script>
  <script>
    (function () {
      function initialize() {
        var mapOptions = {
        center: new google.maps.LatLng(30.0000, 10.0000),
        zoom: 2,
        scrollwheel: false
        };
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

        var latlng = <%= raw @lat_lngs.to_json %>;
        for(var i = 0; i < latlng.length; i++) {
          var coord = latlng[i];

          var myLatlng = new google.maps.LatLng(coord['lat'], coord['lng']);

          var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            animation: google.maps.Animation.DROP,
            draggable: false
          });
        }
      };
      google.maps.event.addDomListener(window, 'load', initialize);

      var pins = $('.pin');
      pins.each(function(){
        $(this).click(function(){
          var url = $(this).data('url');
        window.location.href = url;
        });
      });

    })();
  </script>
<% end %>






