<div>
  <h2><%= @user.name %></h2>

  <%= image_tag @user.profile_pic_url(:large) %>
</div>

<div>
  <h5>Home Base: <%= @user.location %></h5>

  <h4>About</h4>
    <p><%= @user.bio %></p>

<% if @user == current_user %>
  <%= link_to 'Edit Profile', edit_user_path(@user) %><br />

  <%= link_to 'Add Destination', new_user_destination_path(@user) %>
<% end %>
</div>

<% content_for :sidebar do %>
<div class="user side-nav">
  <h3>My Destinations</h3>
    <div id="map"></div>
    <div class="pins"><%= image_tag "map-pin-red.svg" %> Places I've Been | <%= image_tag "blue-map-pin.svg" %> Places To Go To </div>
</div>
<% end %>

<ul class="destination-grid small-block-grid-1 medium-block-grid-2 large-block-grid-2">
  <% @user.destinations.reverse_each do |dest| %>
    <li>
      <h5><%= "#{dest.city}, #{dest.country}" %></h5>
      <%= image_tag dest.album_url(:large) %>
      <p><%= dest.snippet %>
      <%= link_to 'Read More', user_destination_path(@user.id, dest) %></p>
    </li>
  <% end %>
</ul>
<% content_for :javascript do %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["MAPS_API_KEY"] %>&amp;sensor=false">
  </script>
  <script>
    function initialize() {
      var mapOptions = {
      center: new google.maps.LatLng(51.4791, 0.0000),
      zoom: 2
      };
      var map = new google.maps.Map(document.getElementById("map"), mapOptions);

      var latlng = <%= raw @lat_lngs.to_json %>;
      for(var i = 0; i < latlng.length; i++) {
        var coord = latlng[i];

        var myLatlng = new google.maps.LatLng(coord['lat'], coord['lng']);

        var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          animation: google.maps.Animation.DROP,
          draggable: false
        });
      }
    };
    google.maps.event.addDomListener(window, 'load', initialize);

  </script>
<% end %>






