%h5.search Search for Cities
= form_tag destination_search_path, :method => 'get' do
  .search-field= text_field_tag :search, params[:search]
  = submit_tag "Search", :name => nil

.gridler
  .row
    %ul.small-block-grid-1.medium-block-grid-4.large-block-grid-5
      - @destinations.reverse_each do |dest|
        %li.destination-grid
          %h5= link_to dest.user.name, user_path(dest.user_id)
          %h5= "#{dest.city}, #{dest.country}"
          %span.medium= image_tag dest.album_url(:medium)
          %p
            = dest.snippet
            - if dest.posts.first
              %p
                Activity: #{dest.posts.first.thing}
              %p= dest.posts.first.description
            - else
              %no{:content => ""}
            = link_to 'Read More', user_destination_path(dest.user_id, dest)
