%h1 Destinations

%h5.search Search for Destinations
= form_tag destination_search_path, :method => 'get' do
  .search-field= text_field_tag :search, params[:search], placeholder: 'Enter a City'
  = submit_tag "Search", :name => nil, :class => 'search button-styled'

#wrapper
  #columns
    - @destinations.sample(10).each do |dest|
      .pin{:data => {:url => user_destination_path(@user.id, dest) } }
        %h5= link_to dest.user.name, user_path(dest.user_id)
        %h5= link_to "#{dest.city}, #{dest.country}", user_destination_path(dest.user_id, dest)
        %span.medium= image_tag dest.album_url(:medium)
        %p= dest.snippet
        - if dest.posts.first
          %p= "Activity: #{dest.posts.first.thing}"
          %p= dest.posts.first.description
        - else
          %no{:content => ""}
        %p= link_to 'Read More', user_destination_path(dest.user_id, dest)

- content_for :javascript do
  
  :javascript
  (function () {
    var pins = $('.pin');
    pins.each(function(){
      $(this).click(function(){
        var url = $(this).data('url');
      window.location.href = url;
      });
    });
  })();


