%h1 Listing destinations

%table
  %tr
    %th City
    %th Country
    %th Description
    %th Album
    %th Category
    %th
    %th
    %th

  - @destinations.each do |destination|
    %tr
      %td= destination.city
      %td= destination.country
      %td= destination.description
      %td= destination.album
      %td= destination.category
      %td= link_to 'Show', destination
      %td= link_to 'Edit', '#'
      %td= link_to 'Destroy', destination, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

