%h5.search Search for Cities
= form_tag destination_search_path, :method => 'get' do
  .search-field= text_field_tag :search, params[:search]
  = submit_tag "Search", :name => nil

%br
%br
%br
- if @destinations != nil
  %table
    %thead.dests
      %th.dests City
      %th.dests Country
      %th.dests Description
      %th.dests Category

    %tbody
    - @destinations.each do |destination|
      %tr
        %td= link_to destination.city, user_destination_path(destination.user_id, destination)
        %td= destination.country
        %td= destination.snippet
        %td= destination.category
- else
  = "Sorry but no destinations matched this search"
