%p#notice= notice

%p
  %b City:
  = @destination.city
%p
  %b Country:
  = @destination.country
%p
  %b Description:
  = @destination.description
%p
  %b Album:
  = @destination.album
%p
  %b Category:
  = @destination.category

= link_to 'Edit', '#'
\|
= link_to 'Back', '#'
\|
= link_to 'My Profile', @user_path
