%p#notice= notice
.destination.small-12.medium-10.large-6.columns
  %p
    = image_tag @destination.album_url(:large)
  %h3
    = "#{@destination.city}, #{@destination.country}"
  %p
    = @destination.description
  %p
    %b Tags:
    = @destination.category

.post-wall
.post-form
  %form.new-post
    %fieldset
      %legend
        %h4 Add A Post
        %label Activity
        %textarea.activity{rows: "10", cols: "30"}
      .small-2.medium-3.large-4.columns
        %label Description
        %textarea.description{rows: "10", cols: "30"}
      .small-2.medium-3.large-4.columns
        %label External Links
        %textarea.external_links{rows: "10", cols: "30"}

        %label Images
        %input.images{type: "file"}

        %input.id{type: "hidden"}

        %input{type: "submit", value: "Add Post"}

#templates
  %script{type: "text/template", class: "post"}
    .row
      .album.small-3.medium-3.large-3.columns
        = image_tag "{images}(:medium)"
      .info.small-9.medium-9.large-9.columns
        %label {activity}
        %p {description}
        = link_to '{external_links}', '{external_links'

- if @user == current_user
  .button-bar
    %ul.button-group
      %li.tiny.button
        = link_to 'Edit Destination', edit_user_destination_path(@user.id, @destination)
      %li.tiny.button
        = link_to 'Delete Destination', user_destination_path(@user.id, @destination.id), method: :delete, data: { confirm: 'Are you sure?' }
      %li.tiny.button
        = link_to 'My Profile', user_path(@user)



- content_for :javascript do


  :javascript
    (function () {
    var destinationPosts = new Post();

    var formPresenter = new PostForm({root: $('form.new-post'), posts: destinationPosts});

    var wallPresenter = new PostWall ({root: $('.post-wall'), posts: destinationPosts});

    var serverPosts = #{raw @destination.posts.to_json};

    destinationPosts.initializeWith(serverPosts);
    })();

    window.g = {};
    g.destinationPostsUrl = "#{destination_post_api_path(destination_id: @destination)}";




