%p#notice= notice

%p
  %img{src: @destination.album}
%h3
  = "#{@destination.city}, #{@destination.country}"
%p
  %b Description:
  = @destination.description

%p
  %b Category:
  = @destination.category

= link_to 'Edit', '#'
\|
= link_to 'Back', '#'
\|
= link_to 'My Profile', '#'
