%p#notice= notice

%p
  %img{src: @destination.album.url(:large)}
%h3
  = "#{@destination.city}, #{@destination.country}"
%p
  = @destination.description

%p
  %b Tags:
  = @destination.category

= link_to 'Edit', '#'
\|
= link_to 'Back', '#'
