%p#notice= notice
.destination.small-12.medium-10.large-6.columns
  %p
    %img{src: @destination.album.url(:large)}
  %h3
    = "#{@destination.city}, #{@destination.country}"
  %p
    = @destination.description

  %p
    %b Tags:
    = @destination.category
  - if @user == current_user
    = link_to 'Edit Destination', edit_user_destination_path(@user.id, @destination)
    \|
    = link_to 'Delete Destination', user_destination_path(@user.id, @destination.id), method: :delete, data: { confirm: 'Are you sure?' }
    \|
    = link_to 'My Profile', user_path(@user)
