%p#notice= notice

%p
  %b City:
  = @destination.city
%p
  %b Country:
  = @destination.country
%p
  %b Description:
  = @destination.description
%p
  %b Album:
  = @destination.album
%p
  %b Category:
  = @destination.category

= link_to 'Edit', edit_destination_path(@destination)
\|
= link_to 'Back', destinations_path
