%p#notice= notice
.destination.small-12.medium-10.large-6.columns
  %p
    %img{src: @destination.album.url(:large)}
  %h3
    = "#{@destination.city}, #{@destination.country}"
  %p
    = @destination.description


%p
  %img{src: @destination.album.url(:large)}
%h3
  = "#{@destination.city}, #{@destination.country}"
%p
  = @destination.description

%p
  %b Tags:
  = @destination.category
- if @user == current_user
  = link_to 'Edit Destination', edit_user_destination_path(@user.id, @destination)
  \|
  = link_to 'Delete Destination', user_destination_path(@user.id, @destination.id), method: :delete, data: { confirm: 'Are you sure?' }
  \|
  = link_to 'My Profile', user_path(@user)
  \|

.row
  .small-4.large-6.small-centered.columns
    .panel
      %h3 Add A Post
      %form.new-post
        %label Event
        %input.event{type: "text"}

        %label Description
        %textarea.description{rows: "10", cols: "30"}

        %label External Links
        %textarea.external_links{rows: "10", cols: "30"}

        %label Images
        %input.images{type: "text"}

        %input{type: "submit", value: "Add Post"}

.post-wall

#templates
  %script.post{type: "text/template"}
    :cdata
      .row.comment
        .small-3.medium-4.large-6.columns
          %img {images}
        .small-9.medium-8.large-6.columns
          %label {event_type}
          %p {description}

- content_for :javascript do
  :javascript
    (function () {
    var destinationPosts = new Post();

    var formPresenter = new PostForm({root: $('form.new-post'), posts: destinationPosts});

    var wallPresenter = new PostWall ({root: $('.post-wall'), posts: destinationPosts});
    })();



