%h2 Activity Feed
- content_for :sidebar do
  %h5= "Following: #{@user.friendships.length}"
  %table
    %tbody 
    - @user.friendships.each do |f| 
      %tr
      %td= image_tag f.friend.profile_pic, :class => "tiny radius"
      %td= link_to f.friend.name, "/users/#{f.friend.id}"

- @activities.each do |activity|
  .activity
    = image_tag activity.owner.profile_pic, :class => "thumb"
    = link_to activity.owner.name, activity.owner if activity.owner
    = render_activity activity
    .feed-small
      = activity.created_at.strftime("%B %d, %Y at %l:%M%P")


:javascript
  (function () { 
    $(document).ready(function() {
      setInterval(function() {
          $.ajax({
              url: '#{activities_path}',
              type: 'get',
              dataType: "json",
              success: function(data) {
                  $('.activity').html(data);
              },
              error: function(xhr, status) {
                  console.log("There was an error");
              }
          });
      }, 2000);
    });

    })();
