<nav class='top-bar' data-topbar>
  <ul class='title-area'>
    <li class='name'>
      <h1>
        <a href='/'><%= image_tag('http://res.cloudinary.com/dljyjkavz/image/upload/v1390496778/Circle_Blue_Textured_White_Back_z4iarj.png', :class => "nav-logo") %></a>
      </h1>
    </li>
    <li class='toggle-topbar menu-icon'>
      <a href='#'>
        <span>Menu</span>
      </a>
    </li>
  </ul>
  <section class="top-bar-section">
    <% if user_signed_in? %>
    <!-- Right Nav Section -->
    <ul class="right">
      <li><%= link_to  "My Profile", user_path(@user) %></li>
      <li><%= link_to 'Add Destination', new_user_destination_path(@user) %></li>
      <li><%= link_to 'Log Out', destroy_user_session_path %></li>
    </ul>
        <!-- Left Nav Section -->
    <ul class="left">
      <li class="has-dropdown">
        <a href="#">Search</a>
          <ul class="dropdown">
            <li><%= link_to  "Users", users_path %></li>
            <li><%= link_to "Destinations", destination_search_path %></li>
          </ul>
      </li>
      <li><%= link_to "Starred", stars_path %></li>
    </ul>
    <% end %>
  </section>
</nav>


