<nav class="top-bar">
  <ul class="title-area">
    <li>
        <h1><a href="/"><%= image_tag('http://res.cloudinary.com/dljyjkavz/image/upload/v1390494807/Circle_Red_textured_White_Back_nfapni.png', :class => "nav-logo") %> </a></h1>
      </li>
  </ul>

    <section class="top-bar-section">
      <ul class="right">

        <% if user_signed_in? %>
        <li><%= link_to  "#{@user.name}", user_path(@user) %></li>
        <li><%= link_to 'Add Destination', new_user_destination_path(@user) %></li>
        <li class="active"><%= link_to 'Log Out', destroy_user_session_path %></li>
        
      </ul>
      <ul class="left">
        <li><%= link_to  "Users", users_path %></li>
        <li class="has-form">
          <div class="row">
            <div class="large-10 small-10 columns">
              <input type="text" class="search" placeholder="Search Destinations">
            </div>
            <div class="large-2 small-2 columns">
              <li class="active"><%= link_to "Search", "#" %></li>
            </div>
          </div>
        </li>
        <% end %>
      </ul>

    </section>
  </nav>