<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Point B - Local</title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= csrf_meta_tags %>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Molengo" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%=yield :homepage%>
         <nav class="top-bar">
           <ul class="title-area">
             <li class="name">
                 <h1><a href="#">PointB</a></h1>
               </li>
               <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
             </ul>

             <section class="top-bar-section">
               <!-- Right Nav Section -->
               <ul class="right">
                <%= user_content do %>
                  <li class="active"><%= link_to 'Log Out', destroy_user_session_path %></li>
                <% end %>
                <%= non_user do %>
                 <li class="active"><%= link_to 'Sign In', new_user_session_path %></li>
                <% end %>
               </ul>
             </section>
           </nav>
         </div>


    <%= yield %>
  
    <%= javascript_include_tag "application" %>
    <%= yield :javascript %>
  </body>
</html>