<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Point B - Local</title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

  <script type="text/javascript">
    window.g = {};
    g.destinationPostsUrl = '<%= destination_post_api_path @user.destinations %>';
  </script>
    <%= javascript_include_tag "application" %>
    <%= yield :javascript %>
  </body>
</html>