<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Point B - Local</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%=yield :homepage%>
         <nav class="top-bar">
           <ul class="title-area">
             <li class="name">
                 <h1><a href="#">PointB</a></h1>
               </li>
               <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
             </ul>

             <section class="top-bar-section">
               <!-- Right Nav Section -->
               <ul class="right">
                <%= user_content do %>
                  <li class="active"><a href="#">Log Out</a></li>
                <% end %>
                <%= non_user do %>
                 <li class="active"><a href="#">Sign In</a></li>
                <% end %>
               </ul>
             </section>
           </nav>
         </div>


    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>